.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.dropdown {
  position: fixed;
  display: block;
  margin: 5px;
  z-index: 100
}

.dropdown-content {
  display: none;
  position: left;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 103;
}



.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a.active {
    color: #486699
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;

}

.menu {
  color: gray;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.menu:hover {
  color: white;
  cursor: pointer;
}
